__pycache__/
venv/

# Exploration-related data and notebooks
data/interim/gdc-api/
data/raw/gdc-api/
notebooks/exploratory-analyses/
notebooks/gdc-api-exploration/

# TCGA expression-related files
data/raw/tcga-brca/*/
data/processed/tcga-brca/*/mirna-seq_*
data/processed/tcga-brca/*/rna-seq_*

# miRWalk-related files
data/external/mirwalk/
data/processed/mirwalk/MIMAT*
